{% extends 'base.html' %} {% block content %}

<div class="full-list">
  <ul>
    {% for url in image_urls %}
    <li>
      <div class="card" style="width: 44rem">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <image class="list-image" src="{{ url }}"></image>
          <a class="card-link btn btn-info" href=""
            ><i class='fas fa-align-justify fa-lg' style='color:#262726'></i></i></a>
        </div>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>





{% endblock %}
